{
  "openapi": "3.1.0",
  "info": {
    "title": "Sangathan API",
    "version": "1.0.0",
    "description": "Sangathan Civic Infrastructure API - Public and Private endpoints for civic organizing"
  },
  "servers": [
    {
      "url": "https://sangathan.space/api",
      "description": "Production server"
    },
    {
      "url": "http://localhost:3000/api",
      "description": "Local development server"
    }
  ],
  "paths": {
    "/health": {
      "get": {
        "summary": "GET /health",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "BearerAuth": []
          },
          {
            "CookieAuth": []
          }
        ]
      }
    },
    "/webhooks/razorpay": {
      "post": {
        "summary": "POST /webhooks/razorpay",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "BearerAuth": []
          },
          {
            "CookieAuth": []
          }
        ]
      }
    },
    "/webhooks/payments": {
      "post": {
        "summary": "POST /webhooks/payments",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "BearerAuth": []
          },
          {
            "CookieAuth": []
          }
        ]
      }
    },
    "/webhooks/github": {
      "post": {
        "summary": "POST /webhooks/github",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "BearerAuth": []
          },
          {
            "CookieAuth": []
          }
        ]
      }
    },
    "/razorpay/verify": {
      "post": {
        "summary": "POST /razorpay/verify",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "BearerAuth": []
          },
          {
            "CookieAuth": []
          }
        ]
      }
    },
    "/razorpay/order": {
      "post": {
        "summary": "POST /razorpay/order",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "BearerAuth": []
          },
          {
            "CookieAuth": []
          }
        ]
      }
    },
    "/org/slug-check": {
      "get": {
        "summary": "GET /org/slug-check",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "BearerAuth": []
          },
          {
            "CookieAuth": []
          }
        ]
      }
    },
    "/import/google-sheet": {
      "post": {
        "summary": "POST /import/google-sheet",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "BearerAuth": []
          },
          {
            "CookieAuth": []
          }
        ]
      }
    },
    "/import/google-form": {
      "post": {
        "summary": "POST /import/google-form",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "BearerAuth": []
          },
          {
            "CookieAuth": []
          }
        ]
      }
    },
    "/import/google-contacts": {
      "get": {
        "summary": "GET /import/google-contacts",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "BearerAuth": []
          },
          {
            "CookieAuth": []
          }
        ]
      }
    },
    "/cron/weekly-digest": {
      "get": {
        "summary": "GET /cron/weekly-digest",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "BearerAuth": []
          },
          {
            "CookieAuth": []
          }
        ]
      }
    },
    "/cron/refresh-integrations": {
      "get": {
        "summary": "GET /cron/refresh-integrations",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "BearerAuth": []
          },
          {
            "CookieAuth": []
          }
        ]
      }
    },
    "/cron/process-jobs": {
      "get": {
        "summary": "GET /cron/process-jobs",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "BearerAuth": []
          },
          {
            "CookieAuth": []
          }
        ]
      }
    },
    "/cron/purge-audit-logs": {
      "get": {
        "summary": "GET /cron/purge-audit-logs",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "BearerAuth": []
          },
          {
            "CookieAuth": []
          }
        ]
      }
    },
    "/cron/meter-billing": {
      "get": {
        "summary": "GET /cron/meter-billing",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "BearerAuth": []
          },
          {
            "CookieAuth": []
          }
        ]
      }
    },
    "/contributions/goal": {
      "get": {
        "summary": "GET /contributions/goal",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "BearerAuth": []
          },
          {
            "CookieAuth": []
          }
        ]
      }
    },
    "/calendar/feed": {
      "get": {
        "summary": "GET /calendar/feed",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "BearerAuth": []
          },
          {
            "CookieAuth": []
          }
        ]
      }
    },
    "/billing/subscription-action": {
      "post": {
        "summary": "POST /billing/subscription-action",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "BearerAuth": []
          },
          {
            "CookieAuth": []
          }
        ]
      }
    },
    "/billing/subscribe": {
      "post": {
        "summary": "POST /billing/subscribe",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "BearerAuth": []
          },
          {
            "CookieAuth": []
          }
        ]
      }
    },
    "/ai/summary": {
      "get": {
        "summary": "GET /ai/summary",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "BearerAuth": []
          },
          {
            "CookieAuth": []
          }
        ]
      }
    },
    "/agentmail/webhook": {
      "post": {
        "summary": "POST /agentmail/webhook",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "BearerAuth": []
          },
          {
            "CookieAuth": []
          }
        ]
      }
    },
    "/tax-receipts/{orgId}/{number}": {
      "get": {
        "summary": "GET /tax-receipts/{orgId}/{number}",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "BearerAuth": []
          },
          {
            "CookieAuth": []
          }
        ]
      }
    },
    "/integrations/{provider}/connect": {
      "get": {
        "summary": "GET /integrations/{provider}/connect",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "BearerAuth": []
          },
          {
            "CookieAuth": []
          }
        ]
      }
    },
    "/integrations/{provider}/callback": {
      "get": {
        "summary": "GET /integrations/{provider}/callback",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "BearerAuth": []
          },
          {
            "CookieAuth": []
          }
        ]
      }
    },
    "/bot/webhook/telegram": {
      "get": {
        "summary": "GET /bot/webhook/telegram",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "BearerAuth": []
          },
          {
            "CookieAuth": []
          }
        ]
      },
      "post": {
        "summary": "POST /bot/webhook/telegram",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "BearerAuth": []
          },
          {
            "CookieAuth": []
          }
        ]
      }
    },
    "/badge/{slug}/{id}": {
      "get": {
        "summary": "GET /badge/{slug}/{id}",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "BearerAuth": []
          },
          {
            "CookieAuth": []
          }
        ]
      }
    },
    "/v1/organizations/{orgId}/legal": {
      "get": {
        "summary": "GET /v1/organizations/{orgId}/legal",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "BearerAuth": []
          },
          {
            "CookieAuth": []
          }
        ]
      },
      "put": {
        "summary": "PUT /v1/organizations/{orgId}/legal",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "BearerAuth": []
          },
          {
            "CookieAuth": []
          }
        ]
      }
    },
    "/v1/organizations/{orgId}/govt-services/{service}": {
      "get": {
        "summary": "GET /v1/organizations/{orgId}/govt-services/{service}",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "BearerAuth": []
          },
          {
            "CookieAuth": []
          }
        ]
      },
      "post": {
        "summary": "POST /v1/organizations/{orgId}/govt-services/{service}",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "BearerAuth": []
          },
          {
            "CookieAuth": []
          }
        ]
      }
    },
    "/v1/organizations/{orgId}/compliance/filings": {
      "get": {
        "summary": "GET /v1/organizations/{orgId}/compliance/filings",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "BearerAuth": []
          },
          {
            "CookieAuth": []
          }
        ]
      },
      "post": {
        "summary": "POST /v1/organizations/{orgId}/compliance/filings",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "BearerAuth": []
          },
          {
            "CookieAuth": []
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {},
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      },
      "CookieAuth": {
        "type": "apiKey",
        "in": "cookie",
        "name": "sb-access-token"
      }
    }
  }
}